html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    font-family: 'Arial', sans-serif;
    transition: background-image 1s ease-in-out; /* Add transition for smooth background change */
    flex-wrap: nowrap;
}
.form {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }
  
  .title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
  }
  
  .title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
  }
  
  .input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  
  .login-with {
    display: flex;
    gap: 20px;
  }
  
  .button-log {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
  }
  
  .button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
  .button-confirm {
    margin: 50px auto 0 auto;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }

#birthdayMessage {
    width: 100%;
    display: none;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 60%;
    animation: fadeIn 1s ease-in-out;
    text-align: center;
}
.msg {
  width: 100%;
    display: none;
    font-size: 6px;
    color: #ffffff;
    margin-top: 5px;
    text-align: center;}

#him{
    text-shadow: 1px 1px 4px rgb(255, 97, 97);
    animation: fadeIn 1.3s ease-in-out;
}
#ag {
    text-shadow: 1px 1px 4px rgb(112, 198, 46);
    animation: fadeIn 1.6s ease-in-out;
}
#go {
    text-shadow: 1px 1px 4px rgb(194, 68, 120);
    animation: fadeIn 1.9s ease-in-out;
}
#sh {
    text-shadow: 1px 1px 4px rgb(82, 114, 255);
    animation: fadeIn 2.2s ease-in-out;
}
#ja {
    text-shadow: 1px 1px 4px rgb(52, 173, 157);
    animation: fadeIn 2.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.heart {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('heart.png') no-repeat center center;
    background-size: contain;
    bottom: 0;
    animation: float 5s infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}
